@import url(../style.css);

.error {
  font-size: 2.8rem; ;
}

span {
  color: var(--text-color-main);
  
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
  animation: appear 2s ease-in;
}